/* media queries */
@media (max-width: 450px) {
    .navbar {
        padding: 0 2rem;
    }

    .hero {
        padding: 2rem;
        flex-direction: column;
        justify-content: center;
    }

    .row {
        flex-wrap: wrap;
    }

    .contact .rows {
        flex-wrap: wrap;
    }

    aside {
        margin: 4rem 0;
    }
}